<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="row no-gutters">
      <div class="col-lg-3">
        <div class="card border-primary rounded-0 p-3">
          <div class="card border-0 p-1 mx-auto">
            <div class="card border-0" style="border-radius:0.5rem;height:125px;width:125px;
              
              background-image:URL('https://placehold.co/200');
              background-size:cover;
              background-position:center;
              
            ">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="container page-content py-5">
          {{ content }}
        </div>
      </div>
    </div>
    
    {%- include footer.html -%}

  </body>

</html>
