<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="container-fluid d-flex h-100 p-0" style="height:100vh;">
    <div class="row no-gutters d-flex h-100">
      <div class="col-lg-2 flex-column">
        <div class="card bg-success text-white border-0 rounded-0 p-3 d-block h-100">
          <div class="card border-0 p-1 mx-auto" style="height:100px;width:100px;border-radius:0.5rem;">
            <div class="card border-0 d-flex flex-fill" style="border-radius:0.5rem;
              
              background-image:URL('https://placehold.co/200');
              background-size:cover;
              background-position:center;
              
            ">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 flex-column h-100">
        <div class="container page-content py-5">
          {{ content }}
        </div>
      </div>
    </div>
    </div>
    
    {%- include footer.html -%}

  </body>

</html>
